@import '../../../styles/colors';

.task-container{
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;

  .task-card-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 14px;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      background-color: #333; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
  
    .check-box {
      -webkit-appearance: none; /* Remover a aparência padrão do Chrome/Safari */
      -moz-appearance: none; /* Remover a aparência padrão do Firefox */
      appearance: none; /* Remover a aparência padrão */
      width: 20px; /* Largura do checkbox */
      height: 20px; /* Altura do checkbox */
      border: 2px solid gray; /* Bordas cinzas */
      border-radius: 6px; /* Bordas arredondadas */
      background-color: transparent; /* Fundo transparente */
      cursor: pointer; /* Cursor como ponteiro para indicar clicabilidade */
    }
  
    .check-box:checked {
      background-color: #f0f0f0; /* Cor de fundo quando marcado */
    }
  
    .input {
      padding: 6px;
      border-radius: 15px;
      color: #d9d9d9;
    }
  
    .text-ellipsis{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 250px;
    }
  
    .color-w{
      color: #E3E3E3;
    }
  
    .chevron{
      cursor: pointer;
      font-weight: bold;
      margin-left: 72px;
    }
  
  
    .task-content{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;
  
    }
  
  }
  
  .collapsed{
    height: fit-content;
  
  }
  
  .opened{
    transition: 0.5s ease-in-out;
  
  }

  .fa{
    color: white;
    opacity: 0.5;
    cursor: pointer;
  }

  .fa:hover{
    opacity: 1 !important;
    transition: 150ms ease-in-out;
  }
}
