@import '../../../styles/colors';

.task-container{
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;

  .hover {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-right: 4px solid $orange-bg;
  }

  .task-card-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 14px;
    padding: 12px 24px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-end-end-radius: 0px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;


    .check-box {
      appearance: none;
      width: 25px;
      height: 20px;
      cursor: pointer;
      border: 2px solid #ccc; /* Use uma cor hexadecimal ou RGB */
      border-radius: 8px;
      display: inline-block;
      position: relative;
    }

    .check-box:checked {
      background-color: $orange-bg; /* Use uma cor hexadecimal ou RGB */
      border: none;
    }

    .check-box:checked::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .input {
      padding: 6px;
      border-radius: 15px;
      color: #d9d9d9;
    }

    .text-ellipsis{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 250px;
    }

    .color-w{
      color: #E3E3E3;
    }

    .chevron{
      cursor: pointer;
      font-weight: bold;
      margin-left: 72px;
    }

    .task-content{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;

      .input {
        width: 100%;
        border: none;
        outline: none;
        background: none;
        font-size: 16px;

        &.checked {
          position: relative;
          animation: line-through 0.5s forwards;

          &::after {
            content: '';
            position: absolute;
            height: 2px;
            color: orange;
            animation: draw-line 0.5s forwards;
          }
        }
      }

    }

    @keyframes line-through {
      to {
        text-decoration: line-through;
        color: #ccc;
      }
    }

    @keyframes draw-line {
      to {
        width: 100%;
      }
    }

  }

  .collapsed{
    height: fit-content;

  }

  .opened{
    transition: 0.5s ease-in-out;

  }

  .fa{
    color: white;
    opacity: 0.5;
    cursor: pointer;
  }

  .fa:hover{
    opacity: 1 !important;
    transition: 150ms ease-in-out;
  }


}
