.add-new-task-wrapper{
  display: flex;
  flex-direction: column;

  .mt-16{
    margin-top: 16px;
  }
  .mt-12{
    margin-top: 12px;
  }
  
  .submit-btn{
    align-self: flex-end;
    width: 130px;
    border-radius: 8px;
  }

  .input-fields-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    .error-label{
      color: red;
      font-size: 14px;
    }

    .input-label{
      // color: white;
      color: #717982;
    }

    .input-number{
      background-color: #272A2F;
      padding: 12px;
      border: 1px solid #717982;
      border-radius: 15px;
      color: #d9d9d9;
      width: 7%;
    }

    .input-field{
      background-color: #272A2F;
      padding: 12px;
      border: 1px solid #717982;
      border-radius: 15px;
      color: #d9d9d9;

    }

    .text-area{
      background-color: #272A2F;
      padding: 12px;
      border: 1px solid #717982;
      border-radius: 12px;
      color: #d9d9d9;
      margin-top: 8px;
      min-height: 80px;

    }

    .text-area{
      outline: none;
      color: #d9d9d9;
      padding: 4px 12px;
      border: 1px solid #d9d9d9;;
    }

  }
}
