.task-cards-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid red;
  gap: 16px;
  height: 100%;
}

.color-bg{
  color: #9b9b9b;
  transition: 150ms ease-in-out;

  &:hover{
    transition: 150ms ease-in-out;
    color: #555555;
  }
}
