.task-cards-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  // border: 1px solid red;
  gap: 16px;
  height: 100%;
}

.add-task-btn{
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  background-color: #6171DE;
  color: white;
  border: none;
  outline: none;
  margin-top: 16px;
  cursor:pointer;
}


.color-bg{
  color: #9b9b9b;
  transition: 150ms ease-in-out;
  align-self: center;

  &:hover{
    transition: 150ms ease-in-out;
    color: #555555;
  }
}
