@import '../../styles/colors';

.pomodoro-container{
  height: 100vh;
  padding-top: 71px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tasks-wrapper{
    margin-top: 64px;
    display: flex;
    height: 100%;
    width: 496px;
    flex-direction: column;
  }
}

.timer-wrapper{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.light{
  background-color: rgb(234, 234, 234);
  transition: 150ms ease-in-out;
}

.dark{
  // background-color: #282C34;
  background-color: $dark-bg;
  transition: 150ms ease-in-out;
}


.horizontal-divider {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 8px 0px;
}
